.question-table__row-detail-modal {
	.row-detail-modal__content {
		@include center(xy);

		width: 250px;
		height: 150px;
		background-color: black;
	}

	.row-detail-modal__backdrop {
		position: fixed;
		width: 100%;
		height: 100%;
	}
}